include LICENSE
include README.md
include CHANGELOG.md
include requirements.txt
recursive-include rail_django_graphql/templates *
recursive-include rail_django_graphql/static *
recursive-include rail_django_graphql/conf *
recursive-include rail_django_graphql/bin *
